.testimonials-section {
    display: flex;
    align-items: center;
    width: 92%;
    margin: 100px auto;
}
.testimonials-section .mySwiper{
    width: 500px;
}
.testimonials-section h2{
    font-size: 50px;
}
.testimonials-section p{
    font-size: 20px;
    margin: 30px 0;
}
.testimonials-section_right{
    width: 533px;
    height: 576px;
    position: relative;
}
.testimonials-section_right .mySwiper{
    position: relative;
}
.testimonials-section_right .swiper-slide{
    height: 576px;
}
.testimonials-section_right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.testimonials-section_right .swiper-button-next{
    position: absolute;
    right: 20px;
    bottom: 10px;
    top: auto;
    z-index: 999;
}
.testimonials-section_right .swiper-button-prev{
    position: absolute;
    top: auto;
    left: auto;
    right: 80px;
    bottom: 10px;
    z-index: 999;
}
.testimonials-section_right .button-box{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 170px;
    height: 70px;
    border-radius: 4% 0 0 0;
    background-color: rgb(247 250 252);
    z-index: 990;
}
.testimonials-section_left .swiper-slide.swiper-slide-prev,.testimonials-section_left .swiper-slide-next{
    opacity: 0 !important;
}
.testimonials-section_left .mySwiper{
    position: relative;
}
.testimonials-section_left .mySwiper .swiper-button-next{
    position: absolute;
    bottom: 0;
    top: auto;
    right: 0;
}
.testimonials-section_left .mySwiper .swiper-button-prev{
    position: absolute;
    bottom: 0;
    top: auto;
    left: auto;
    right: 70px;
}

@media screen and (max-width:768px) {
    .testimonials-section {
        flex-direction: column;
        margin: 70px auto;
    }
    .testimonials-section_left{
        width: 100%;
    }
    .testimonials-section .mySwiper{
        width: 100%;
    }
    .testimonials-section h2{
        font-size: 40px;
    }
    .testimonials-section p{
        font-size: 17px;
        margin: 20px 0;
    }
    .testimonials-section_right{
        width: 100%;
        margin-top: 50px;
        height: 350px;
    }
    .testimonials-section_right .swiper-slide{
        height: 350px;
    }
}