@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Inter', sans-serif;
}

.container{
  width: 90%;
  margin: 0 auto;
}

.dark_blue{
  color: rgb(36 62 99);
}
.light_blue{
 color:  rgb(100 21 255);
}
.dark_blue_bg{
  color: rgb(36 62 99);
}
.light_blue_bg{
  color:  rgb(100 21 255);
}

.black{
  color: rgb(74 85 104);
}
.gray{
  color: rgb(124 139 161 );
}